<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Boating flat responsive e-commerce Bootstarp Website Template | Home :: w3layouts</title>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,600,800,700,500,300,100,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,700italic' rel='stylesheet' type='text/css'>
<link href="/static/cssb/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="/static/cssb/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/jsb/jquery.min.js"></script>
</head>
<body>


<!--topheader starts-->	 
<div class="strip">
		 <div class="top-menu">
			 <span class="menu"> </span>
			 <ul>
				 <li><a href="{% url 'home' %}">Home</a></li>
				 <li><a href="about.html">About Us</a></li>
				 <li><a href="https://www.myhouseboats.com/">Online Booking</a></li>
				 <li><a href="404.html">Help</a></li>
				 <li><a href="service.html">Service</a></li>
				 <li><a href="{% url 'contacts' %}">Contact</a></li>
					<div class="clearfix"></div>
			 </ul>	
			 </div>	
<!----- script-for-nav ---->
<script>
			$( "span.menu" ).click(function() {
			  $( ".top-menu ul" ).slideToggle( "slow", function() {
			    // Animation complete.
			  });
			});
</script>
<!----- script-for-nav ---->
 </div>

<!--topheader ends-->
   <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <script src="/static/jsb/responsiveslides.min.js"></script>
    <div class="slider">
	    <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li>
	          <img src="/static/imagesb/b4.jpg" alt=""/>
	          <div class="caption">
	          	<div class="logo">
				<a href="#"><img src="/static/imagesb/logo.png"></a>				
				</div>
				<h2>WE MADE BOATING EASY HERE</h2>
	          </div>
	        </li>
	        <li>
	          <img src="/static/imagesb/b5.jpg" alt="">
	        	 <div class="caption">
	          	<div class="logo">
				<a href="#"><img src="/static/imagesb/logo.png"></a>				
				</div>
				<h2>WE MADE BOATING EASY HERE</h2>
	          </div>
	        </li>
	        <li>
	          <img src="/static/imagesb/b3.jpg" alt="">
	          <div class="caption">
	          	<div class="logo">
				<a href="#"><img src="/static/imagesb/logo.png"></a>				
				</div>
				<h2>WE MADE BOATING EASY HERE</h2>
	          </div>
	        </li>
	      </ul>
	  </div>
  </div>
<!---->
<div class="speed">
	 <h2>SPEED BOATS</h2>
	 <div class="speed-boats1">
	     <div class="col-md-4 boat-info">
			 <h3>03.  UNCOVER MANY</h3>
			 <p>But also the leap into electronic typesetting,remaining essentially unchanged. It was popularised in the 1960s with the release of 	etraset sheets containing Lorem Ipsum 
				passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			 <a href="#">More</a>
			 <div class="arrow"></div>
		 </div>
		 <div class="col-md-8 boat-pic">			 
			  <a href="#" class="b-link-stripe b-animate-go  thickbox">
					 <img class="port-pic" src="/static/imagesb/boat1.jpg" />
					 <div class="b-wrapper">
							<h4 class="b-animate b-from-left  b-delay03 ">							
							<button>KNOW MORE</button>
							</h4>
					 </div>
			  </a>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 
	 <div class="speed-boats2">	     
		 <div class="col-md-8 boat-pic">			 
			  <a href="#" class="b-link-stripe b-animate-go  thickbox">
					<img class="port-pic" src="/static/imagesb/boat2.jpg" />
				 <div class="b-wrapper">
						<h4 class="b-animate b-from-left  b-delay03 ">							
						<button>KNOW MORE</button>
						</h4>
				 </div>
			  </a>
		 </div>
		
		 <div class="col-md-4 boat-info">
			 <h3>04.  LEX</h3>
			 <p>But also the leap into electronic typesetting,remaining essentially unchanged. It was popularised in the 1960s with the release of 	etraset sheets containing Lorem Ipsum 
				passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			 <a href="#">More</a>
			 <div class="arrow nip2"></div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
<div class="trainers">
	 <h2>OUR TRAINERS</h2>
	 
	 <div class="trainers-sec">
		 <div class="col-md-6 trainer">
			 <div class="trainers-pics">
			 <img src="/static/imagesb/man1.jpg" alt=""/>
			 </div>
			 <div class="trainer-info">
				<h3>Mr.John Deo</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. Lorem Ipsum has been he industry's standard dummy text ever since the 1500s</p>
				<a href="#">More</a>
				<div class="strps1"></div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 
		 <div class="col-md-6 trainer">
			 <div class="trainers-pics">
			 <img src="/static/imagesb/man2.jpg" alt=""/>
			 </div>
			 <div class="trainer-info">
					<h3>Mr.Richard</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. Lorem Ipsum has been he industry's standard dummy text ever since the 1500s</p>
				    <a href="#">More</a>
					<div class="strps2"></div>					
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 
	 <div class="trainers-sec traine">
		 <div class="col-md-6 trainer">
			<div class="trainers-pics">
			 <img src="/static/imagesb/man3.jpg" alt=""/>
			 </div>
			 <div class="trainer-info">
				<h3>Mr.Michale</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. Lorem Ipsum has been he industry's standard dummy text ever since the 1500s</p>
				<a href="#">More</a>
				<div class="strps3"></div>				
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 
		 <div class="col-md-6 trainer">
			 <div class="trainers-pics">
			 <img src="/static/imagesb/man4.jpg" alt=""/>
			 </div>
			 <div class="trainer-info">
					<h3>Mr.Smith Deo</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. Lorem Ipsum has been he industry's standard dummy text ever since the 1500s</p>
				    <a href="#">More</a>
					<div class="strps4"></div>					
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="clearfix"></div>
	 </div>
	 
</div>
<!---->
<div class="trip">
	 <h2>PROFESSIONAL TRIP TODAY</h2>
	 <div class="trip-pic">	 
			 <div class="container">		 
				 <h3>Always Wear</h3>
				 <h4>A Life Jacket while Boating</h4>
				 <p class="line3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
				 <p class="line1"> Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
				 <p class="line2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
				 <p> Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,</p>
				 <form>
				 <input type="text" value="E-mail For Updates" onfocus="this.value=''" onblur="this.value='E-mail For Updates'">
				 <input type="submit" value="subscride">
				 </form>
			 </div>
	 </div>
</div>
<!---->
<div class="contact" id="contact">
	  <iframe src="https://www.google.com/maps/place/Kerala/@10.5380895,73.8776474,7z/data=!3m1!4b1!4m5!3m4!1s0x3b0812ffd49cf55b:0x64bd90fbed387c99!8m2!3d10.8505159!4d76.2710833" width="600" height="450" frameborder="0" style="border:0"></iframe>
	 <div class="container">
		 <div class="contact-top">
			 <h3>BOATING CLUB</h3>
			 <p>Washing ton port, great neck,</p>
			 <p>New York.</p>
			 <a href="mailto:123boating@email.com">123boating@email.com</a>
			 <p>+000 111 1111 111</p>
			 <a class="site">www.boating.com</a>
		 </div>
		 <div class="nip"></div>
	 </div>
</div>
<!---->
 <div class="header-bottom">
        <div class="container">
          <div class="logo">
            <a href="index.html"><img src="/static/imageshi/logo.png" class="img-responsive" alt="" /></a>
          </div>
      <!-- //nav -->
    </div>
<div class="fotter">
     <div class="container">
		 <div class="fotter-info">
			 <div class="fotter-logo">
			 <a href="imdex.html"><img src="/static/imagesb/logo.png" alt=""/></a>
			 </div>
			 <div class="fotter-menu">			 
				 <ul>
					 <li><a href="index.html">Home</a></li>
					 <li><a href="about.html">About Us</a></li>
					 <li><a href="service.html">Shoponline</a></li>
					 <li><a href="404.html">Help</a></li>
					 <li><a href="carrers.html">Service</a></li>
					 <li><a href="contact.html">Contact</a></li>
						<div class="clearfix"></div>
				 </ul>				 
			 </div>
			 <div class="social-icons">
				 <a href="#"><span class="fb"> </span></a>
				 <a href="#"><span class="twt"> </span></a>
				 <a href="#"><span class="gog"> </span></a>
				 <a href="#"><span class="in"> </span></a>
				 <a href="#"><span class="pin"> </span></a>
			 </div>
			 <div class="clearfix"></div>
		  </div>
	 </div>
	 <p class="copy-right">2015 &copy; Designed By <a href="http://w3layouts.com/">W3layouts</a></p>
</div>

<!---->
</body>
</html>
