<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Location Contact Form Flat Responsive Widget Template :: w3layouts</title>
<link href="/static/cssl/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Location Contact Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<!-- //end-smoth-scrolling -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/cssm/font-awesome.min.css" />
</head>
<body>
     <h1>Location Contact Form</h1>
	<div class="main">
	<div class="w3-agileits">
         <div class="login-top left">
			<iframe src="https://www.google.com/maps/place/Kerala/@10.5327242,73.88381,7z/data=!3m1!4b1!4m5!3m4!1s0x3b0812ffd49cf55b:0x64bd90fbed387c99!8m2!3d10.8505159!4d76.2710833" allowfullscreen></iframe>	
		</div>	
		<div class="login-top right">
			<div class="agileits-social">
				<h3>Connect</h3>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-rss"></i></a></li>
						<li><a href="#"><i class="fa fa-vk"></i></a></li>
					</ul>
			</div>
			<div class="send-w3layouts">
				<h3>send a message</h3>
					<form action="#" method="post">
						<input type="text" name="email" class="email" placeholder="Email" required="">
						<input type="text" name="subject" class="name" placeholder="Subject" required="">												
						<textarea placeholder="Message"></textarea>
						<input type="submit" value="Send">
					</form>
			</div>
			<div class="adres-agileits">
				<ul>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> (4584) 5689 0254 128</li>
				</ul>
			</div>
		</div>
			<div class="clear"></div>
	</div>
	</div>
     <div class="copy-right w3l-agile">
		<p> © 2019 Location Contact Form . All Rights Reserved | Design by  vishnu kamalasan<a href="http://w3layouts.com">W3layouts</a></p>
	</div>
							
</body>
</html>
