<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html lang="en">
<head>
<title>Feedback Form Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Feedback Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<link href="/static/cssf/style.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body>
<h1 class="header-w3ls">Feedback Form</h1>
<div class="content-w3ls">
	<div class="form-w3ls">
		<form action="#" method="post">
			<div class="content-wthree1">
				<div class="grid-agileits1">
					<div class="form-control"> 
						<label class="header">Customer Name <span>:</span></label>
						<input type="text" id="name" name="name" placeholder="Customer Name" title="Please enter your Full Name" required="">
					</div>
		
					<div class="form-control">	
						<label class="header">Email Address <span>:</span></label>
						<input type="email" id="email" name="email" placeholder="Mail@example.com" title="Please enter a Valid Email Address" required="">
					</div>
	
					<div class="form-control"> 
						<label class="header">Organization <span>:</span></label>
						<input type="text" id="orgn" name="orgn" placeholder="Organization" title="Please enter your Organization" required="">
					</div>
				</div>
				<div class="grid-agileits2">
					<div class="form-control">
						<label class="header">Products You like <span>:</span></label>
						<select>
							<option value="Products" selected>Products</option>
							<option value="Computers">Computers</option>
							<option value="Games">Games</option>
							<option value="Books">Books</option>
							<option value="Music">Music</option>
							<option value="Photos">Photos</option>
							<option value="Film">Film</option>
						</select>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="content-wthree2">
				<div class="grid-w3layouts1">
					<div class="w3-agile1">
						<label class="rating">Ratings for Company<span>:</span></label>
						<ul>
							<li>
								<input type="radio" id="a-option" name="selector1">
								<label for="a-option">very high</label>
								<div class="check"></div>
							</li>
							<li>
								<input type="radio" id="b-option" name="selector1">
								<label for="b-option">high</label>
								<div class="check"><div class="inside"></div></div>
							</li>
							<li>
								<input type="radio" id="c-option" name="selector1">
								<label for="c-option">medium</label>
								<div class="check"><div class="inside"></div></div>
							</li>
							<li>
								<input type="radio" id="d-option" name="selector1">
								<label for="d-option">low</label>
								<div class="check"></div>
							</li>
							<li>
								<input type="radio" id="e-option" name="selector1">
								<label for="e-option">very low</label>
								<div class="check"><div class="inside"></div></div>
							</li>
						</ul>
					</div>	
				</div>
				<div class="grid-w3layouts2">
					<div class="w3-agile2">
						<label class="rating">Ratings for Support <span>:</span></label>
						<ul>
							<li>
								<input type="radio" id="f-option" name="selector2">
								<label for="f-option">Very good</label>
								<div class="check"></div>
							</li>
							<li>
								<input type="radio" id="g-option" name="selector2">
								<label for="g-option">good</label>
								<div class="check"><div class="inside"></div></div>
							</li>
							<li>
								<input type="radio" id="h-option" name="selector2">
								<label for="h-option">average</label>
								<div class="check"><div class="inside"></div></div>
							</li>
							<li>
								<input type="radio" id="i-option" name="selector2">
								<label for="i-option">fair</label>
								<div class="check"><div class="inside"></div></div>
							</li>
							<li>
								<input type="radio" id="j-option" name="selector2">
								<label for="j-option">poor</label>
								<div class="check"><div class="inside"></div></div>
							</li>
						</ul>
					</div>
				</div>	
				<div class="clear"></div>
			</div>
			<div class="content-wthree3">	
				<div class="form-control">
					<label class="enquiry">Customer Enquiry <span>:</span></label>
					<textarea id="message" name="message" placeholder="Your Queries" title="Please enter Your Queries"></textarea>
					<div class="clear"></div>
				</div>
			</div>	
			<div class="content-wthree4">	
				<div class="form-control">
					<input type="submit" class="register" value="Submit">
					<input type="reset" class="reset" value="Reset">
					<div class="clear"></div>
				</div>
			</div>		
		</form>
	</div>
</div>

<p class="copyright">© 2019 Feedback Form. All Rights Reserved | Design by vishnu kamalasan <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>

</body>
</html>
