<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Kitchen Food a Hotels and Restaurants Category  Bootstrap responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Kitchen Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="/static/cssfoo/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="/static/cssfoo/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="/static/cssfoo/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<!-- //font -->
<script src="/static/jsfoo/jquery-1.11.1.min.js"></script>
<script src="/static/jsfoo/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- animation -->
<link href="/static/cssfoo/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!-- //animation --> 

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
	<!-- banner -->
	<div class="banner">
		<div class="header-top-grids">
			<div class="header">
					<div class="header-left">
						<div class="w3layouts-logo">
							<h1>
								<a href="index.html">Kitchen <span>food</span></a>
							</h1>
						</div>
					</div>
			</div>
			<div class="top-nav">
				<div class="top-nav-info">
						<nav class="navbar navbar-default">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li>< <a href="{% url 'home' %}">Home</a></li>
									
									<li><a href="gallery.html">Gallery</a></li>
									<li class="dropdown">
										<a href="codes.html" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Pages <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="https://www.potafo.in/home">food booking</a></li>
											<li><a href="http://www.tastycircle.com/">Food Prepration Time</a></li>
										</ul>
									</li>
									<li><a href="{% url 'contacts' %}"">Contact</a></li>
								</ul>	
								<div class="clearfix"> </div>
							</div>	
						</nav>		
				</div>
			</div>
		</div>
		<div class="w3layouts-banner-slider">
				<div class="container">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>
									<div class="top-agileits-banner">
										<div class="agileits-banner-info">
											<h3>Fish Carry</h3>
											<div class="w3-button">
												<div class="w3ls-button">
													<a href="single.html">Read More</a>
												</div>
											</div>
											<div class="bounce animated">
												<a href="#welcome" class="scroll">
													<div class="mouse"></div>
												</a>
											</div>
										</div>
										<div class="agileinfo-social-grids">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-rss"></i></a>
											<a href="#"><i class="fa fa-vk"></i></a>
										</div>
										<div class="clearfix"> </div>
									</div>
								</li>
								<li>
									<div class="top-agileits-banner">
										<div class="agileits-banner-info">
											<h3>Donec posuere</h3>
											<div class="w3-button">
												<div class="w3ls-button">
													<a href="single.html">Read More</a>
												</div>
											</div>
											<div class="bounce animated">
												<a href="#welcome" class="scroll">
													<div class="mouse"></div>
												</a>
											</div>
										</div>
										<div class="agileinfo-social-grids">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-rss"></i></a>
											<a href="#"><i class="fa fa-vk"></i></a>
										</div>
										<div class="clearfix"> </div>
									</div>
								</li>
								<li>
									<div class="top-agileits-banner">
										<div class="agileits-banner-info">
											<h3>Lorem ipsum</h3>
											<div class="w3-button">
												<div class="w3ls-button">
													<a href="single.html">Read More</a>
												</div>
											</div>
											<div class="bounce animated">
												<a href="#welcome" class="scroll">
													<div class="mouse"></div>
												</a>
											</div>
										</div>
										<div class="agileinfo-social-grids">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-rss"></i></a>
											<a href="#"><i class="fa fa-vk"></i></a>
										</div>
										<div class="clearfix"> </div>
									</div>
								</li>
								<li>
									<div class="top-agileits-banner">
										<div class="agileits-banner-info">
											<h3>Donec posuere</h3>
											<div class="w3-button">
												<div class="w3ls-button">
													<a href="single.html">Read More</a>
												</div>
											</div>
											<div class="bounce animated">
												<a href="#welcome" class="scroll">
													<div class="mouse"></div>
												</a>
											</div>
										</div>
										<div class="agileinfo-social-grids">
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-rss"></i></a>
											<a href="#"><i class="fa fa-vk"></i></a>
										</div>
										<div class="clearfix"> </div>
									</div>
								</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider4").responsiveSlides({
								auto: true,
								pager:true,
								nav:false,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });
						
							});
						 </script>
						<!--banner Slider starts Here-->
					</div>
				</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- welcome -->
	<div class="welcome" id="welcome">
		<div class="col-md-5 ab-w3-agile-img">
			 
		</div>
		<div class="col-md-7 ab-w3-agile-info">
			<div class="ab-w3-agile-info-text">
				<h2 class="title-w3">Welcome</h2>
				<p class="sub-text one">Choose Your Style</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit.Lorem ipsum dolor sit amet.when an unknown printer took a galley of type and scrambled it to make a type specimen book.Proin ultricies vestibulum velit.Lorem ipsum dolor sit amet.when an unknown printer took  Proin ultricies vestibulum velit.Lorem ipsum dolor sit amet</p>
				
			</div>
			<div class="ab-w3-agile-inner">
				<div class="col-md-6 ab-w3-agile-part">
					<h4>Dancing Supplies</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non risus et ex bibendum posuere. Morbi semper leo sed tincidunt rhoncus. Curabitur nec erat rhoncus, efficitur nibh ac, porta leo. Nullam luctus lacinia urna sagittis tempus. Vivamus vitae metus eu nibh posuere molestie. Pellentesque sit amet justo ac enim hendrerit congue ac at tortor.</p>
				</div>
				<div class="col-md-6 ab-w3-agile-part two">
					<h4>Master Classes</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non risus et ex bibendum posuere. Morbi semper leo sed tincidunt rhoncus. Curabitur nec erat rhoncus, efficitur nibh ac, porta leo. Nullam luctus lacinia urna sagittis tempus. Vivamus vitae metus eu nibh posuere molestie. Pellentesque sit amet justo ac enim hendrerit congue ac at tortor.</p>
				</div>
				<div class="clearfix"></div>		   
			</div>	
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- //welcome -->
	<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<div class="w3-agile-heading">
				<h3>Services</h3>
			</div>
			<div class="w3ls-services-grids">
				<div class="col-md-3 w3ls-services-left">
					<div class="w3ls-services-left-top">
						<i class="fa fa-user" aria-hidden="true"></i>
						<h5>Praesent et metus</h5>
						<p>Donec neque urna, tempor id est id, gravida molestie nunc. Fusce non lectus pretium</p>
					</div>
					<div class="w3ls-services-left-top w3ls-services-left-top1">
						<i class="fa fa-asterisk" aria-hidden="true"></i>
						<h5>Praesent et metus</h5>
						<p>Donec neque urna, tempor id est id, gravida molestie nunc. Fusce non lectus pretium</p>
					</div>
				</div>
				<div class="col-md-6 w3ls-services-middle">
					<div class="w3ls-services-middle-img">
						<img src="/static/imagesfoo/4.jpg" alt="" />
					</div>
					<div class="w3ls-services-middle-grids">
						<div class="col-md-6 w3ls-services-middle-left">
							<div class="w3ls-services-left-top">
								<i class="fa fa-bell" aria-hidden="true"></i>
								<h5>Praesent et metus</h5>
								<p>Donec neque urna, tempor id est id, gravida molestie nunc. Fusce non lectus pretium</p>
							</div>
						</div>
						<div class="col-md-6 w3ls-services-middle-left">
							<div class="w3ls-services-left-top">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<h5>Praesent et metus</h5>
								<p>Donec neque urna, tempor id est id, gravida molestie nunc. Fusce non lectus pretium</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-3 w3ls-services-left">
					<div class="w3ls-services-left-top">
						<i class="fa fa-eye" aria-hidden="true"></i>
						<h5>Praesent et metus</h5>
						<p>Donec neque urna, tempor id est id, gravida molestie nunc. Fusce non lectus pretium</p>
					</div>
					<div class="w3ls-services-left-top w3ls-services-left-top1">
						<i class="fa fa-anchor" aria-hidden="true"></i>
						<h5>Praesent et metus</h5>
						<p>Donec neque urna, tempor id est id, gravida molestie nunc. Fusce non lectus pretium</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!-- news -->
	<div class="news jarallax">
		<div class="container">
			<div class="w3-agile-heading news-heading">
				<h3>Events</h3>
			</div>
			<div class="news-grids">
				<div class=" col-md-4 section-grid-wthree one">
					<div class="services-info-w3-agileits">
						<h5 class="sub-title"><a href="single.html">Lorem ipsum dolor sit </a></h5>
						<h6>Sep 06,2017 | By <a href="#">Admin</a></h6>
						<p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ever since the 1500s.</p>
					</div>
					<div class="services-img-agileits-w3layouts">
						<a href="single.html"><img src="/static/imagesfoo/5.jpg" alt="service-img"></a>
					</div>
				</div>
				<div class=" col-md-4 section-grid-wthree">
					<div class="services-img-agileits-w3layouts">
						<a href="single.html"><img src="/static/imagesfoo/6.jpg" alt="service-img"></a>
					</div>
					<div class="services-info-w3-agileits mid">
						<h5 class="sub-title"><a href="single.html">Lorem ipsum dolor sit </a></h5>
						<h6>Sep 06,2017 | By <a href="#">Admin</a></h6>
						<p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ever since the 1500s.</p>
					</div>
				</div>
				<div class=" col-md-4 section-grid-wthree">
					<div class="services-info-w3-agileits">
						<h5 class="sub-title"><a href="single.html">Lorem ipsum dolor sit </a></h5>
						<h6>Sep 06,2017 | By <a href="#">Admin</a></h6>
						<p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ever since the 1500s.</p>
					</div>
					<div class="services-img-agileits-w3layouts">
						<a href="single.html"><img src="/static/imagesfoo/7.jpg" alt="service-img"></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //news -->
	<!-- subscribe -->
	<div class="subscribe">
		<div class="container">
			<div class="w3-agile-heading agile-subscribe-heading">
				<h3>Subscribe</h3>
				<p>Subscribe to our email newsletter to receive updates</p>
			</div>
			<div class="subscribe-grid">
				<form action="#" method="post">
					<input type="text" placeholder="Subscribe" name="Subscribe" required="">
					<button class="btn1"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
				</form>
			</div>
		</div>
	</div>
	<!-- //subscribe -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agileinfo_footer_grids">
				<div class="col-md-4 agileinfo_footer_grid">
					<div class="agile-logo">
						<h4><a href="index.html">Kitchen <span>Food</span></a></h4>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non risus et ex bibendum posuere. Morbi semper leo sed tincidunt rhoncus. Curabitur nec erat rhoncus, efficitur nibh ac, porta leo. Nullam luctus lacinia urna sagittis tempus. </p>
				</div>
				<div class="col-md-4 agileinfo_footer_grid">
					<h3>Contact Info</h3>
					<ul class="agileinfo_footer_grid_list">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
					</ul>
				</div>
				<div class="col-md-4 agileinfo_footer_grid">
					<h3>Navigation</h3>
					<ul class="agileinfo_footer_grid_nav">
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="index.html">Home</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="about.html">About</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="gallery.html">Gallery</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="codes.html">Short Codes</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="icons.html">Icons</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="contact.html">Mail Us</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3agile_footer_copy">
				<p>&copy; 2017 Kitchen Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<script src="/static/jsfoo/responsiveslides.min.js"></script>
	<script src="/static/jsfoo/jarallax.js"></script>
	<script src="/static/jsfoo/SmoothScroll.min.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<script type="text/javascript" src="/static/jsfoo/move-top.js"></script>
	<script type="text/javascript" src="/static/jsfoo/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
</body>	
</html>