<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Kannur | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Global Tours Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="/static/csska/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="/static/csska/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="/static/csska/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- gallery -->
<link rel="stylesheet" href="/static/csska/lightbox.css">
<!-- //gallery -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Kaushan+Script&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="/static/jska/jquery-1.11.1.min.js"></script>
<script src="/static/jska/bootstrap.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".scroll").click(function(event){   
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
    });
  });
</script> 
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
  <div class="banner-top">
    <div class="slider">
      <div class="callbacks_container">
        <ul class="rslides callbacks callbacks1" id="slider4">
          <li>
            <div class="w3layouts-banner-top">
              <div class="container">
                <div class="agileits-banner-info">
                  <h3>K</h3>
                  <h4>Kannur</h4>
                </div>  
              </div>
            </div>
          </li>
          <li>
            <div class="w3layouts-banner-top w3layouts-banner-top1">
              <div class="container">
                <div class="agileits-banner-info1">
                  <h3>P</h3>
                  <h4>Peralassery</h4>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="w3layouts-banner-top w3layouts-banner-top2">
              <div class="container">
                <div class="agileits-banner-info2">
                  <h3>M</h3>
                  <h4>Madayipara</h4>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="w3layouts-banner-top w3layouts-banner-top3">
              <div class="container">
                <div class="agileits-banner-info3">
                  <h3>P</h3>
                  <h4>Parassinikkadavu Snake Park</h4>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="w3layouts-banner-top w3layouts-banner-top4">
              <div class="container">
                <div class="agileits-banner-info4">
                  <h3>A</h3>
                  <h4>Arakkal Museum</h4>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
      <script src="/static/jska/responsiveslides.min.js"></script>
      <script>
            // You can also use "$(window).load(function() {"
            $(function () {
              // Slideshow 4
              $("#slider4").responsiveSlides({
              auto: true,
              pager:true,
              nav:false,
              speed: 500,
              namespace: "callbacks",
              before: function () {
                $('.events').append("<li>before event fired.</li>");
              },
              after: function () {
                $('.events').append("<li>after event fired.</li>");
              }
              });
          
            });
      </script>
      <!--banner Slider starts Here-->
    </div>
  </div>
  <!-- banner -->
  <div class="banner">
    <div class="header">
      <div class="container">
        <div class="header-left">
          <div class="w3layouts-logo">
            <h1>
              <a href="index.html">!ncredible Kerala  <span>Tours</span></a>
            </h1>
          </div>
        </div>
       <!--  <div class="header-right">
          <p><i class="fa fa-phone" aria-hidden="true"></i> +1 234 567 8901</p>
        </div> -->
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <div class="top-nav">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a  href="{% url 'home' %}">Home</a></li>
                  <li><a href="#about" class="scroll">About</a></li>
                  <li><a href="#services" class="scroll">Services</a></li>
                  <li><a href="#gallery" class="scroll">Gallery</a></li>
                  <li><a href="#news" class="scroll">News</a></li>
                  <li><a  href="{% url 'contacts' %}" class="scroll">Contact</a></li>
                </ul> 
                <div class="clearfix"> </div>
              </div>  
            </nav>    
        </div>
      </div>
    </div>
  </div>
  <!-- //banner -->
  <!-- about -->
  <div class="about" id="about">
    <div class="w3-about-top">
      <h3>A</h3>
    </div>
    <div class="w3l-about">
      <div class="container">
        <div class="w3ls-heading">
          <h2>About Us</h2>
        </div>
        <div class="w3ls-about-info">
          <p>Kannur is a coastal city in the south Indian state of Kerala. It was once an ancient trading port. Enduring monuments such as 16th-century St. Angelo Fort, once occupied by European colonial forces, show the city’s significant role in the spice trade. Housed in a former palace, the Arakkal Museum highlights Kerala's one Muslim royal family. The palm-fringed sands of Payyambalam Beach run along Kannur’s western shore..</p>
          <div class="w3ls-about-grids">
            <div class="col-md-3 w3ls-about-grid">
              <img src="/static/imageska/a1.jpg" alt="" />
            </div>
            <div class="col-md-3 w3ls-about-grid">
              <img src="/static/imageska/a2.jpg" alt="" />
            </div>
            <div class="col-md-3 w3ls-about-grid">
              <img src="/static/imageska/a3.jpg" alt="" />
            </div>
            <div class="col-md-3 w3ls-about-grid">
              <img src="/static/imageska/a4.jpg" alt="" />
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //about -->
  <!-- services -->
  <div class="services" id="services">
    <div class="w3-services-top">
      <h3>S</h3>
    </div>
    <div class="w3l-about w3l-services">
      <div class="container">
        <div class="w3ls-heading">
          <h3>Services</h3>
        </div>
        <div class="agileits-services-grids">
          <div class="col-md-4 agileits-services-grid">
            <i class="fa fa-bus" aria-hidden="true"></i>
            <h4>Politics</h4>
            <p>annur, particularly the rural areas, has been referred to as a stranglehold of the left parties – locally known as 'party gramam'. Gramam means 'village' and usually denote local allegiance to only one party. Kannur has a strong presence of trade unions as well as left-leaning organizations. However, other parties also have strong influence.</p>
          </div>
          <div class="col-md-4 agileits-services-grid">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <h4>Demographics</h4>
            <p>According to the 2011 census of India, Kannur city has a population of 56,823. Males constitute 46.2% of the population and females 53.8%. Kannur has an average literacy rate of 96.23%, higher than the national average of 74.04%. Male literacy is 98% and female literacy is 94%. In Kannur, 12% of the population is under six years of age.

Religions in Kannur City

source: Kannur City Census 2011 data
  Hindus (56.3%)
  Muslim (37.9%)
  Christians (5.0%)
  Other (0.8%)

Hindus form the majority of the population with 32,026 members forming 56.3% of the population.There are 21,557 Muslims forming 37.9% of the population. Christians form 5% of the population with 2,892 members. The Anglo-Indian community in Kannur live mainly in the Kannur Cantonment of Burnacherry and its surrounding areas of Thillery, No.3 Bazaar and Camp Bazaar. Malayalam is the administrative and local language. </p>
          </div>
          <div class="col-md-4 agileits-services-grid">
            <i class="fa fa-gift" aria-hidden="true"></i>
            <h4>Constituent villages</h4>
            <p>    Anjarakandi, Azhikode North, Azhikode South and Chelora</p>
    <p>Chembilode, Cherukkunnu and Chirakkal</p>
    <p>Edakkad, Elayavoor, Iriveri, Kadambur, Kalliasseri and Kolacherry</p>
    <p>Kanhirod, Kannadiparamba, Kannapuram</p>
    <p>Makrery, Mattool, Mavilayi and Munderi</p>
    <p>Muzhappilangad, Narath, Pallikkunnu and Pappinisseri</p>
    <p>Puzhathi, Valapattanam and Valiyannur</p>
          </div>
          <div class="col-md-4 agileits-services-grid">
            <i class="fa fa-plane" aria-hidden="true"></i>
            <h4>Tourism</h4>
            <p>1.Pra Kaayal Floating park / V-Pra Park is a project from District Tourism Promotional Council DTPC. It is a Park which is constructed on top of Vayalapra kaayal</p>.
<P>Payyambalam Beach is a Kannur beach with an unbroken coastline of a few kilometres. From the beach, one can see ships in transit along the Malabar Coast, from beyond Kozhikode moving towards Mangalore, Goa and Bombay (Mumbai). It contains a garden and the massive landscaped sculpture of mother and child erected by noted sculptor Kanayi Kunhiraman. But it now lies vandalized by miscreants</P>.

<P>Muzhappilangad Drive-in Beach (4 km length) is in the state of Kerala in southwestern India. It is parallel to National Highway 66 (formerly National Highway ) between Kannur and Thalassery. Muzhappilangad Drive-in Beach, which stretches across four kilometres of sand, was chosen by the BBC as one of the top six drive-in beaches in the world in June 2016.</P>
<P>Arakkal Museum, in Ayikkara, is a museum dedicated to the Arakkal family, the only Muslim royal family in Kerala, South India. The museum is a section of the Arakkalkettu (Arakkal Palace). The Durbar Hall section of the palace has been converted into a museum by the Government of Kerala. It was opened in July 2005 after a massive renovation and is managed by the Arakkal Family Trust.</P>
<P>Baby Beach is so called because it is smaller than its larger neighbour, Payyambalam Beach. St. Angelo Fort is adjacent to it. The baby beach is part of the Kannur Cantonment and access may be restricted at times.</P>
<P>Meenkunnu Beach is at Azhikode, just a few kilometres from the town.
<P>Mappila Bay in Ayikkara, near St. Angelo fort, is a major fishing harbour overlooking the Laccadive Sea.</P>
<P>The Azhikkal Ferry operates near Azhikode, about 10  km from Kannur town, where the Valapattanam river joins the Laccadive Sea. Passenger boats are available to Mattool, Parassinikkadavu and Valapattanam from here.</P>
<P>Parassinikkadavu Snake Park-a snake farm dedicated for the preservation and conservation of snakes is in Kannur.</P>
<P>Aralam Wildlife Sanctuary has elephant, sloth bear, mouse deer etc. Sanctuary in Kannur District is a place to see diverse and rare animals.</P>
<P>Choottad beach sunset view</P>
<P>Choottad beach is a beach which kerala state tourism dept has developed with Choottad beach Park which have children park, rower boats, and buggy rides
Paithalmala This enchanting hill station, situated 4,500 ft. above sea level near the Kerala - Karnataka border, is rich in flora and fauna. It is a 6 km trek to the top of the hills.</P>
<P>Kannur Railway Station</P>
<P>Ezhimala Hill Ezhimala, the capital of the ancient Mooshika kings, is considered to be an ancient historical site. It is a conspicuous, isolated cluster of hills, forming a promontory, 38 km north of Kannur. A flourishing sea port and centre of trade in ancient Kerala, it was one of the major battle fields of the Chola-Chera war of the 11th century. It is believed that Lord Budha had visited Ezhimala. An old mosque, believed to contain the mortal remains of Shaikh Abdul Latif, a Muslim reformist, is also located here. The hill is noted for rare medicinal herbs. Bordered by sea on three sides, Ezhimala is set to occupy a prominent place in the naval history of the country, consequent to the proposal for commissioning the Naval Academy here.</P>
<P>Kannur lighthouse The Kannur lighthouse is located near the Payyambalam Beach, a few kilometers from Kannur town, in Kerala state, south India. It is adjacent to the Sea View Park and the Government Guest House. The lighthouse is still active and overlooks the Arabian Sea. Cannanore is the old English name for the town named Kannur. The lighthouse at Kannur is still often referred to as the Cannanore lighthouse.</P>
<P>Mangrove theme park, Kannur</P>
<P>Pazhassi Dam</P>
<P>Madayipara</p>
          </div>
          <div class="col-md-4 agileits-services-grid">
            <i class="fa fa-subway" aria-hidden="true"></i>
            <h4>Education</h4>
            <p>Indian Naval Academy is situated in Ezhimala, Kannur. Naval cadets are trained here in 2500 acres vast campus</p>.
<p>Indian Coast Guard Academy, the first coast guard academy in India is under construction in Azhikkal.</p>
<p>Kannur District has five Kendriya Vidyalaya at Kannur, Keltron Nagar, Payyanur, Ezhimala, and Thalassery.</p>
<p>Kannur International Airport</p>
<p>Kannur University was established by Act 22 of 1996 of the Kerala Legislative Assembly. The university by the name "Malabar University" had come into existence earlier by the promulgation of an ordinance by the governor of Kerala, on 9 November 1995. The university was inaugurated on 2 March 1996 by the Chief Minister of Kerala. The objective of the Kannur University Act 1996 was to establish in the state of Kerala a teaching, residential and affiliating university so as to provide for the development of higher education in Kasargod and Kannur revenue districts and the Mananthavady Taluk of Wayanad district. Kannur University is a multi-campus university.</p>
<p>Government Brennen College, the first college in Kannur provide education to more than 2500 students.</p>
<p>Government College of Engineering, Kannur was established in 1986 near Dharmasala, Kannur as a center for imparting engineering education in northern Kerala.[15] The college is among the top ten engineering colleges of the state, providing higher studies in the field of technical education.</p>
<p>Pariyaram Medical College was established in 1999 between Payyanur and Taliparamba. The medical college is at a distance of 10 km from Taliparamba and Payyanur and 32 km north of Kannur. Kannur Medical College was established in 2006 at Anjarakkandy with a 500-bed hospital.</p>
<p>The thirteenth National Institute of Fashion Technology (NIFT) Campus in Kannur is located at Anthoor near Dharmasala, Kannur 12 km north of Kannur Corporation.</p>
          </div>
          <div class="col-md-4 agileits-services-grid">
            <i class="fa fa-ship" aria-hidden="true"></i>
            <h4>Transportation</h4>
            <p>Kannur has a good road network connecting to Mangalore, Bangalore, Mysore, Kodagu and Cochin. The railway station is also well connected to all parts of India.The Kannur International Airport which is about 30 kilometres from the city began operations on December 9 and is the fourth international airport in the state.Other nearby airports are at Calicut and Mangalore. Kannur is on National Highway 66 or NH 66 (formerly National Highway 17) between Kozhikode and Mangalore. This highway is scheduled to be expanded to four lanes. A bypass for Kannur city is proposed under the NH widening project. Kannur is connected to Kodagu, Mysore and Bangalore in Karnataka by the Thalassery–Coorg–Mysore interstate highway.

Kannur railway station is one of the major stations of the Southern Railway zone, under the jurisdiction of the Palakkad. All trains including the Thiruvananthapuram Rajdhani Express and Kochuveli Garib Rath stop at Kannur. Six daily trains and around 15 weekly or bi-weekly trains connect Kannur to the capital Thiruvananthapuram. Kannur is well connected through rail with Mangalore and Kozhikode.

Kannur International Airport in Mattanur inaugurated on 9 December 2018. It is the fourth international airport in Kerala. The airport will have a 4,000 metres (13,000 ft) runway[18].(the longest in the State) and state of the art passenger terminal as well other amenities. It will be well connected by a comprehensive network of roads and a proposal for railway line has also been mooted. In the 2016–17 Union Railway budget, ₹400 crore (US$56 million) were dedicated for under Extra Budgetary Resource (EBR) in which a part of the bill will be borne by the State Government towards the railway line. </p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //services -->
  <!-- gallery -->
  <div class="gallery" id="gallery">
    <div class="w3-gallery-top">
      <h3>G</h3>
    </div>
    <div class="w3l-about w3l-gallery">
      <div class="container">
        <div class="w3ls-heading">
          <h3>Gallery</h3>
        </div>
        <div class="gallery-grids">
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imagesw/g1.jpg" alt="" />
                    <figcaption>
                    </figcaption> 
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imagesw/g2.jpg" alt="" />
                    <figcaption>
                    </figcaption> 
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imageska/g3.jpg" alt="" />
                    <figcaption>
                    </figcaption>   
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imageska/g4.jpg" alt="" />
                    <figcaption>
                    </figcaption> 
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imageska/g5.jpg" alt="" />
                    <figcaption>
                    </figcaption> 
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g6.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imagesw/g6.jpg" alt="" />
                    <figcaption>
                    </figcaption>   
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g7.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imageska/g7.jpg" alt="" />
                    <figcaption>
                    </figcaption> 
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imagesw/g1.jpg" alt="" />
                    <figcaption>
                    </figcaption> 
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imageska/g2.jpg" alt="" />
                    <figcaption>
                    </figcaption>   
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imageska/g3.jpg" alt="" />
                    <figcaption>
                    </figcaption>   
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imageska/g4.jpg" alt="" />
                    <figcaption>
                    </figcaption>   
                  </a>
                </figure>
              </div>
            </div>
            <div class="col-md-3 gallery-grid">
              <div class="grid">
                <figure class="effect-apollo">
                  <a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                    <img src="/static/imageska/g5.jpg" alt="" />
                    <figcaption>
                    </figcaption>   
                  </a>
                </figure>
              </div>
            </div>
            <div class="clearfix"> </div>
            <script src="/static/jska/lightbox-plus-jquery.min.js"> </script>
        </div>
      </div>
    </div>
  </div>
  <!-- //gallery -->
  <!-- testimonial -->
  <div class="testimonial">
    <div class="w3-testimonial-top">
      <h3>T</h3>
    </div>
    <div class="w3l-about w3l-testimonial">
      <div class="container">
        <div class="w3ls-heading">
          <h3>Testimonial</h3>
        </div>
        <div class="w3-agile-testimonial">
          <div class="slider">
            <div class="callbacks_container">
              <ul class="rslides callbacks callbacks1" id="slider3">
                <li>
                  <div class="testimonial-img-grid">
                    <div class="testimonial-img t-img1">
                      <img src="/static/imageska/ts1.jpg" alt="" />
                    </div>
                    <div class="testimonial-img">
                      <img src="/static/imageska/ts2.jpg" alt="" />
                    </div>
                    <div class="testimonial-img t-img2">
                      <img src="/static/imageska/ts3.jpg" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="testimonial-img-info">
                    <p><i class="fa fa-quote-left" aria-hidden="true"></i> Aenean tincidunt lectus id ipsum congue egestas. Pellentesque a molestie dui, vitae tincidunt odio. Morbi nisi sapien, tincidunt et porttitor ac, tempor vitae orci. In ipsum leo, molestie ut lacus in, consequat efficitur metus. Suspendisse porttitor nulla arcu, eget iaculis nibh lobortis in. Duis egestas placerat massa, sit amet mattis dui pretium id. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                    <h5>Peter Guptill</h5>
                    <h6>Proin blandit</h6>
                  </div>
                </li>
                <li>
                  <div class="testimonial-img-grid">
                    <div class="testimonial-img t-img1">
                      <img src="/static/imageska/ts2.jpg" alt="" />
                    </div>
                    <div class="testimonial-img">
                      <img src="/static/imageswka/ts3.jpg" alt="" />
                    </div>
                    <div class="testimonial-img t-img2">
                      <img src="/static/imageska/ts1.jpg" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="testimonial-img-info">
                    <p><i class="fa fa-quote-left" aria-hidden="true"></i> Sed accumsan nisl ut ex fermentum, eget sodales eros elementum. Curabitur dapibus placerat quam in vehicula. Morbi fermentum sodales varius. Sed mauris massa, sodales in lectus non, tempus pellentesque quam. Phasellus lobortis magna ante, eget finibus magna tristique a. Integer sagittis convallis rhoncus. Sed imperdiet augue sit amet enim accumsan <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                    <h5>Mary Jane</h5>
                    <h6>Lorem ipsum</h6>
                  </div>
                </li>
                <li>
                  <div class="testimonial-img-grid">
                    <div class="testimonial-img t-img1">
                      <img src="/static/imageska/ts3.jpg" alt="" />
                    </div>
                    <div class="testimonial-img">
                      <img src="/static/imageska/ts1.jpg" alt="" />
                    </div>
                    <div class="testimonial-img t-img2">
                      <img src="/static/imageska/ts2.jpg" alt="" />
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="testimonial-img-info">
                    <p><i class="fa fa-quote-left" aria-hidden="true"></i> unc ornare a quam et tincidunt. Aliquam et magna id lectus egestas sollicitudin. Quisque sed rhoncus magna. Morbi a orci mi. Suspendisse potenti. Integer in augue turpis. Aenean massa dolor, feugiat et tortor vitae, tempor fringilla odio. Quisque at arcu ullamcorper, ullamcorper quam et, egestas nisi. Mauris aliquam hendrerit consequat. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                    <h5>Steven Wilson</h5>
                    <h6>Proin blandit</h6>
                  </div>
                </li>
              </ul>
            </div>
            <div class="clearfix"> </div>
            <script>
                  // You can also use "$(window).load(function() {"
                  $(function () {
                    // Slideshow 4
                    $("#slider3").responsiveSlides({
                    auto: true,
                    pager:false,
                    nav:false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                      $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                      $('.events').append("<li>after event fired.</li>");
                    }
                    });
                
                  });
            </script>
            <!--banner Slider starts Here-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //testimonial -->
  <!-- news -->
  <div class="news" id="news">
    <div class="w3-news-top">
      <h3>N</h3>
    </div>
    <div class="w3l-about w3l-news">
      <div class="container">
        <div class="w3ls-heading">
          <h3>News</h3>
        </div>
        <div class="wthree-news-grids">
          <div class="col-md-6 agile-news-right-info">
            <div class="col-sm-4 agile-news-img">
              
            </div>
            <div class="col-sm-8 agile-news-img-info">
              <h5><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum dolor</a></h5>
              <div class="agileits-w3layouts-border"> </div>
              <p>Sed accumsan nisl ut ex fermentum, eget sodales eros elementum. Curabitur dapibus placerat quam in vehicula. Morbi fermentum sodales varius.</p>
              <h6><i class="fa fa-calendar" aria-hidden="true"></i> 24th Dec,2016</h6>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="col-md-6 agile-news-right-info">
            <div class="col-sm-4 agile-news-img agile-news-img1">
                
            </div>
            <div class="col-sm-8 agile-news-img-info">
              <h5><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum dolor</a></h5>
              <div class="agileits-w3layouts-border"> </div>
              <p>Nunc ornare a quam et tincidunt. Aliquam et magna id lectus egestas sollicitudin. Quisque sed rhoncus magna. Morbi a orci mi.</p>
              <h6><i class="fa fa-calendar" aria-hidden="true"></i> 24th Dec,2016</h6>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //news -->
  <!-- modal -->
  <div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>            
            <h4 class="modal-title">Global <span>Tours</span></h4>
            <h5>24 Sept 2017</h5>
          </div> 
          <div class="modal-body">
          <div class="agileits-w3layouts-info">
            <img src="/static/imageska/1a.jpg" alt="" />
            <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper.  Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //modal -->

  <!-- team -->
  <div class="team">
    <div class="w3-team-top">
      <h3>T</h3>
    </div>
    <div class="w3l-about w3l-team">
      <div class="container">
        <div class="w3ls-heading">
          <h3>Team</h3>
        </div>
        <div class="agile-team-grids">
          <div class="col-sm-3 team-grid">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/static/imageska/t1.jpg" alt="" />
                </div>
                <div class="back">
                  <h4>Peter Parker</h4>
                  <p>Vestibulum </p>
                  <div class="w3l-social">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 team-grid">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/static/imageska/t2.jpg" alt="" />
                </div>
                <div class="back">
                  <h4>Steven Wilson</h4>
                  <p>Quisque vitae</p>
                  <div class="w3l-social">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 team-grid">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/static/imageska/t3.jpg" alt="" />
                </div>
                <div class="back">
                  <h4>Johan Botha</h4>
                  <p>Nulla molestie</p>
                  <div class="w3l-social">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 team-grid">
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/static/imageska/t4.jpg" alt="" />
                </div>
                <div class="back">
                  <h4>Mary Jane</h4>
                  <p>Aliquam non</p>
                  <div class="w3l-social">
                    <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>

      </div>
    </div>
  </div>
  <!-- //team -->
  <!-- subscribe -->
  <div class="subscribe">
    <div class="w3-subscribe-top">
      <h3>S</h3>
    </div>
    <div class="w3l-about w3l-team">
      <div class="container">
        <div class="w3ls-heading">
          <h3>Subscribe</h3>
        </div>
        <div class="w3-agile-subscribe">
          <p>Subscribe to our email newsletter free useful updates everyday in your mailbox</p>
          <form action="#" method="post">
            <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
            <input type="submit" value="Subscribe">
          </form>
          <h5>OR</h5>
          <div class="agileinfo-social-grids">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
              <li><a href="#"><i class="fa fa-vk"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //subscribe -->
  <!-- map -->
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d366417.1205943117!2d-118.4272152627014!3d34.0091834751898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472444937012" style="border:0" allowfullscreen></iframe>
  </div>
  <!-- //map -->
  <!-- contact -->
 <!--  <div class="contact" id="contact">
    <div class="w3-contact-top">
      <h3>C</h3>
    </div>
    <div class="w3l-about w3l-team">
      <div class="container">
        <div class="w3ls-heading">
          <h3>Contact</h3>
        </div>
        <div class="agile-contact-grids">
          <div class="col-md-5 address">
            <h4>Contact Info</h4>
            <div class="address-row">
              <div class="col-md-2 w3-agile-address-left">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              </div>
              <div class="col-md-10 w3-agile-address-right">
                <h5>Visit Us</h5>
                <p>123 Fourth Avenue, Seattle Wa 98104, Los Angeles </p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="address-row">
              <div class="col-md-2 w3-agile-address-left">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              </div>
              <div class="col-md-10 w3-agile-address-right">
                <h5>Mail Us</h5>
                <p><a href="mailto:info@example.com"> mail@example.com</a></p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="address-row">
              <div class="col-md-2 w3-agile-address-left">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
              </div>
              <div class="col-md-10 w3-agile-address-right">
                <h5>Call Us</h5>
                <p>+11 222 333 4444</p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
          <div class="col-md-7 contact-form">
            <form action="#" method="post">
              <input type="text" name="First Name" placeholder="First Name" required="">
              <input class="email" name="Last Name" type="text" placeholder="Last Name" required="">
              <input type="text" name="Number" placeholder="Mobile Number" required="">
              <input class="email" name="Email" type="email" placeholder="Email" required="">
              <textarea name="Message" placeholder="Message" required=""></textarea>
              <input type="submit" value="SUBMIT">
            </form>
          </div>
          <div class="clearfix"> </div> 
        </div>
      </div>
    </div>
  </div> -->
  <!-- //contact -->
  <!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="copyright">
        <p>© 2019 !ncridble Kerala . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
      </div>
    </div>
  </div>
  <!-- //footer -->
  <script src="/static/jsw/responsiveslides.min.js"></script>
  <script src="/static/jsw/SmoothScroll.min.js"></script>
  <script type="text/javascript" src="js/move-top.js"></script>
  <script type="text/javascript" src="js/easing.js"></script>
  <!-- here stars scrolling icon -->
  <script type="text/javascript">
    $(document).ready(function() {
      /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
      */
                
      $().UItoTop({ easingType: 'easeOutQuart' });
                
      });
  </script>
<!-- //here ends scrolling icon -->
</body> 
</html>