<!DOCTYPE html>
<html>
<head>
	<title>BOOK</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <center>
  <H1>USER MESSAGE</H1>
</center>
  <style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
  <body>
    <table id='customers'>
  	<div class='responsive'>

      <tr>
        <th>full_name </th>
        <th>email</th>
        <th>message_1</th>
        <th>admin_approved</th>

      </tr>

	{% for i in message_list %}
<tr>

  <td>{{i.full_name}}</td>
	<td>{{i.email}}</td>
	<td>{{i.message_1}}</td>
  <td>{{i.admin_approved}}</td> 
	
	
</tr>
{% endfor %}
</div>
</table>
</body>
</html>